{% assign hackathons = site.data.data.hackathons %}
{% if hackathons %}
<section class="section hackathons-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-terminal fa-stack-1x fa-inverse"></i>
    </span>
    {{ hackathons.title }}
  </h2>

  {% for project in hackathons.projects %}
    <div class="item">

      <span class="project-title">{{ project.title }}</span>

      {% if project.description %}
        <span class="project-description">{{ project.description }}</span>
      {% endif %}

      {% if project.bullets %}
        <ul class="project-bullets">
          {% for bullet in project.bullets %}
            <li class="project-bullet-text">{{ bullet.text }}</li>
          {% endfor %}
        </ul>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
